/* -----------upcoming matches list --------- */

.matches-list {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
}
.matches-country {
    display: flex;
    align-items: center;
}

.matches-country span{
    font-size: 30px;
}

.matches-title p {
    font-size: 17px;
    color: #7c6161;
}


.matches-list.first{
    grid-column: 2 / 6;
}
.matches-list.secund{
    grid-column: 6 / 10;
}
.matches-list.third{
    grid-column: 10 / 14;
}
.matches-list.fourth{
    grid-column: 2 / 6;
}
.matches-list.fifth{
    grid-column: 6 / 10;
}
.matches-list.sixth {
    grid-column: 10 / 14;
}
 